# Python artifacts
__pycache__/
pkbot/__pycache__/

# Virtual environments
venv/
.venv/

# OS metadata
.DS_Store

# Logs
logs/
*.glog
*.plog

# Misc
mybot2.py
mybot4.py
mybot10.py
mybot23.py
mybot26.py
mybot28.py
mybot29.py